@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  margin: 0 auto;
  /* font-size: 1em; */
}

body {
  background-color: #f5f5f5;
  overflow: hidden;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
}

/* .auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
} */

h1,
label {
  font-weight: 500;
}

h1 {
  text-align: center;
}

#main-container {
  background-color: aqua;
}

#login {
  margin: 12% auto;
  max-width: 350px;
  /* background-image: ; */
}

button {
  margin: 0.5em auto;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 16px;
  padding-top: 10px;
  color: #1a75ff;
  margin-bottom: 0.5em;
}
