#hometitle {
  /* background: blue; */
  text-align: center;
  margin: 20% auto;
}

/* body {
  outline: 2px red solid;
  background: url("/public/image-733856.jpg");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  margin: 0 auto;
} */

/* image {
  position: relative;
  margin: 0 auto;
} */
