.header {
  margin-top: 60px;
  /* margin: 0 auto; */
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}
.titleSm {
  position: absolute;
  top: 15%;
  font-size: 50px;
}

.titleLg {
  position: absolute;
  text-align: center;
  top: 25%;
  font-size: 100px;
}

img {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
