/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap"); */
* {
  margin: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}
