* {
  margin: 0 auto;
  /* font-size: 1em; */
}

body {
  background-color: #f5f5f5;
  height: 100vh;
}

h1 {
  text-align: center;
}

/* #main-container {
  place-items: center center;
  background-color: aqua;
} */

#registration {
  margin: 12% auto;
  max-width: 400px;
}

button {
  margin: 0.5em auto;
}
