.show-sub {
  display: flex;
  justify-content: space-around;
}

.postContainer {
  display: flex;
  max-width: 60vw;
  margin: 0.5em auto;
  padding: 0.2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.8em;
}

@media (max-width: 800px) {
  div {
    width: max-content;
  }
}

/* Button {
  margin-right: 1em;
} */
