.showContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 60vw;
  margin: 0.5em auto;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid grey; */
}

.show-main {
  max-width: 60vw;
  margin: 0.5em 20%;
}

.show-sub {
  display: flex;
  justify-content: space-around;
  margin: 0.3em 1em;
}

#button {
  display: flex;
  justify-content: center;
  margin-right: 0.8em;
}

/* @media (max-width: 800px) {
  div {
    width: max-content;
  }
} */

.post-at,
.postBy {
  margin: 0.5em 0.5em;
  padding: 0.2em;
}

/* Button {
  margin-right: 1em;
} */
